
.main-wrapper {
    margin-top: 85px;
    
}

.page-align {
    text-align: center;
    margin-top: 50px;
}

.registration-edit {
    width: 700px;
    margin: auto;
}

/* .valid-feedback{
    display: block;
}
.invalid-feedback{
    display: block;
} */